$black: #000000;
$red: #af241d;
$curry: #b7990d;
$alabaster: #F7F4EA;
$lightGrey: #f5f5f5;
$darkGrey: #6b717e;
$bodyFont: "Helvetica Neue", "Arial", sans-serif;
$error: rgb(228, 46, 1);
$borderRadius: 0.3rem;
$spacingOne: calc(1rem * 0.25);
$spacingTwo: calc(1rem * 0.5);
$spacingThree: 1rem;
$spacingFour: calc(1rem * 1.5);
$spacingFive: calc(1rem * 3);
$light: #F7F4EA;
$dark: #6b717e;


